<?xml version="1.0"?>
<appSettings>
    <add key="ProjectId" value="PM"/>
    <add key="ProjectTitle" value="Управление проектами"/>
    <add key="ApplicationId" value="PM"/>
    <add key="ApplicationTitle" value="Управление проектами"/>
    <add key="DefaultServer" value="PM"/>
	<add key="DefaultServerType" value="ORACLE" />
    <add key="AccessType" value="single"/>
	<add key="ConnectUser" value="Le64/9O3XfK1U34YY6mG8A==" />
    <add key="IgnoreVersion" value = "true"/>
    <add key="JabberServer" value = "192.168.0.16"/>
    <add key="JabberPort" value = "8000"/>
    <add key="TableSpaces" value="S_DATA;PM_DATA"/>
</appSettings>