<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ProjectId" value="PM"/>
    <add key="ProjectTitle" value="Управление проектами"/>
    <add key="ApplicationId" value="PM"/>
    <add key="ApplicationTitle" value="Управление проектами"/>
    <add key="DefaultServer" value="PM\"/>
    <add key="DefaultServerType" value="MSSQL"/>
    <add key="ProjectInstanceId" value="PM_WORK"/>
    <add key="AccessType" value="single"/>
    <add key="IgnoreVersion" value = "true"/>
    <add key="ConnectUser" value="5exPssAJbO7Fh+Lla/tMadtkUNDWSE6tHx5OvQDBnMU=" />
    <add key="JabberServer" value = "192.168.0.16"/>
    <add key="JabberPort" value = "8000"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="S_" publicKeyToken="EFBF079F4EB90D94" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.194" newVersion="1.9.0.194"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel"
                                publicKeyToken="71e9bce111e9429c"
                                culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office"
                                publicKeyToken="71e9bce111e9429c"
                                culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop"
                                publicKeyToken="71e9bce111e9429c"
                                culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
	</runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding> 
        <binding name="WSHttpBinding_IJabber" receiveTimeout="10:00:00"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.16:8000/ServiceModelSamples/service" 
                binding="wsHttpBinding" 
                bindingConfiguration="WSHttpBinding_IJabber" 
                contract="JabberService.IJabber" 
                name="WSHttpBinding_IJabber" 
                >
        <identity>
          <servicePrincipalName value="host/192.168.0.16"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
