<?xml version="1.0"?>
<appSettings>
    <add key="ProjectId" value="PM"/>
    <add key="ApplicationId" value="PM"/>
    <add key="DefaultServer" value="PM\"/>
    <add key="DefaultServerType" value="MSSQL"/>
    <add key="ProjectInstanceId" value="PM_WORK"/>
    <add key="ConnectUser" value="5exPssAJbO7Fh+Lla/tMadtkUNDWSE6tHx5OvQDBnMU=" />
    <add key="IgnoreVersion" value = "true"/>
    <add key="JabberServer" value = "192.168.0.16"/>
    <add key="JabberPort" value = "8000"/>
</appSettings>